
<h3>{{this.firstName | uppercase}}</h3>
<h3>{{this.lastName | uppercase}}</h3>
<h3>{{this.company | uppercase}}</h3>

<h3>{{this.firstName | lowercase}}</h3>
<h3>{{this.lastName | lowercase}}</h3>
<h3>{{this.company | lowercase}}</h3>

<h3>{{this.firstName | titlecase}}</h3>
<h3>{{this.lastName | titlecase}}</h3>
<h3>{{this.company | titlecase}}</h3>

<h3>{{employeeList | json}}</h3>
<h3>{{this.company | slice:6}}</h3>
<h3>{{this.company | slice:0:6}}</h3>

<h3>{{this.number1 | percent}}</h3>
<h3>{{this.number2 | percent}}</h3>
<h3>{{this.number3 | percent}}</h3>

<h3>{{this.number1 + this.number2 + this.number2 | percent}}</h3>

<h3>{{this.number3 + this.number2 | percent}}</h3>

<h3>{{this.number1 + this.number1 | percent}}</h3>

<h3>{{this.salary | number}}</h3>
<h3>{{this.salary | number:'1.2'}}</h3>



<h3>{{this.studentList | json}}</h3>

<h3>{{this.todaysDate}}</h3>
<h3>{{this.todaysDate | date:'MM/dd/yyyy'}}</h3>
<h3>{{this.todaysDate | date: 'dd/MM/yyyy'}}</h3>
<h3>{{this.todaysDate |date: 'dd/MM/yy'}}</h3>

<h3>{{this.todaysDate | date: 'short'}}</h3>
<h3>{{this.todaysDate | date: 'shortDate'}}</h3>
<h3>{{this.todaysDate | date: 'shortTime'}}</h3>
<h3>{{this.todaysDate | date: 'long'}}</h3>
<h3>{{this.todaysDate | date: 'longDate'}}</h3>
<h3>{{this.todaysDate | date: 'longTime'}}</h3>

<h3>{{this.todaysDate | date: 'medium'}}</h3>
<h3>{{this.todaysDate | date: 'mediumTime'}}</h3>
<h3>{{this.todaysDate | date: 'fullDate'}}</h3>
<h3>{{this.todaysDate | date: 'mediumDate'}}</h3>

Time : {{todaysDate | date:'HH:MM'}}<br />
    Time : {{todaysDate | date:'hh:mm:ss a'}}<br />
    Time : {{todaysDate | date:'hh:mm:ss p'}}<br />

    <!--CURRENCY PIPES-->
    <h3>{{this.salary | currency}}</h3>
    <h3>{{this.salary | currency : 'INR'}}</h3>
    <h3>{{this.salary | currency : 'USD'}}</h3>
    <h3>{{this.salary | currency : 'EUR'}}</h3>
    <h3>{{this.salary | currency : 'EUR' : false}}</h3>
    <h3>{{this.salary | currency :"GBP"}}</h3>
    <h3>{{this.salary | currency :"GBP" : false}}</h3>

    <h3> {{salary | currency:'USD':true}}</h3>
    <h3>USD Doller : {{salary |currency:'USD':false}}</h3>
    <h3>INR() : {{salary |currency:'INR':true}}</h3>
    <h3>INR : {{salary |currency:'INR':false}}</h3>
    <p>{{salary |currency:'DHR': true}}</p>
    {{ 1234.56 | currency:'CAD' }}<br>
    {{ 1234.56 | currency:"CAD":"symbol-narrow" }}<br>
    {{ 1234.56 | currency:"USD":"symbol-narrow" }}<br>
    Bangladeshi taka Currency {{salary|currency:"BDT":"symbol"}}<br>
    Brazilian real Currency	{{salary|currency:"BRL":"symbol"}}	R$100.00<br>
    RenminbiRenminbi (Chinese) yuan Currency	{{salary|currency:"CNY":"symbol"}}	¥100.00<br>
    Egyptian pound Currency	{{salary|currency:"EGP":"symbol"}}	E£100.00<br>
    Euro Currency	{{salary|currency:"EUR":"symbol"}}	€100.00<br>
    Japanese yen Currency	{{salary|currency:"JPY":"symbol"}}	¥100<br>
    North Korean won Currency	{{salary|currency:"KPW":"symbol"}}	₩100<br>
    Lebanese pound Currency	{{salary|currency:"LBP":"symbol"}}	L£100<br>
    Sri Lankan rupee Currency	{{salary|currency:"LKR":"symbol"}}	Rs100.00<br>


    <p ngNonBindable>{{ 3.14159265 | number: '3.1-2' }}</p>
    <p>{{ 3.14159265 | number: '3.1-2' }}</p>

    <p ngNonBindable>{{ 3.14159265 | number: '1.4-4' }}</p>
    <p>{{ 3.14159265 | number: '1.4-4' }}</p>

    <p ngNonBindable>{{ 3.14159265 | number: '3.2-4' }}</p>
    <p>{{ 3.14159265 | number: '3.2-4' }}</p>

    <p ngNonBindable>{{ 3.14159265 | number: '1.3-4' }}</p>
    <p>{{ 3.14159265 | number: '1.7-7' }}</p>

    <h3> {{bankAccountNo | AccountNumberWithX}}</h3>

    <!--<h3> {{this.firstName | addPrefixWithDR | titlecase}} </h3>-->

    <h3> {{this.firstName | reverseStr}} </h3>

